  <!-- form start --> 
  <%= bootstrap_form_for([:admin,@admin_client] )  do |f| %>
    <div class="box-body">
      <div class="col-xs-6">
        <%= f.text_field :first_name ,:placeholder => "First Name"%>
        <%= f.text_field :last_name , :placeholder => "Last Name" %>
        <%= f.email_field :email ,:placeholder => "Email" %>
        <%= f.file_field :avatar %>
        <%= f.text_field :contact_num ,:placeholder => "Contact Number" ,:label => "Contact Number"  %>
        <%= f.text_field :sky_id , :placeholder => "Skype-Id" ,:label => "Skype-Id" %>
        <%= f.password_field :password , :placeholder => "Password" %>
        <%= f.password_field :password_confirmation , :placeholder => "Password Confirmation" %>
         <div class="form-group">
          <%= f.submit :sumbit , :value =>  @admin_client.new_record? ? "Create Client" : "Update Client"  ,:class => "btn btn-primary" %>
        </div> 
      </div>
    </div>
    <!-- /.box-body -->
  <% end %>  