
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Client
        <small>List</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-user-secret"></i> Client</a></li>
        <li><%=link_to "List" ,admin_clients_path  %></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
          
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>User Name</th>
                  <th>Email</th>
                  <th>Contact No</th>
                  <th>Skype-Id</th>
                  <th >Action</th>
                </tr>
                </thead>
              
                <tbody>
                	<% @admin_clients.each do |client|  %>
	                	<tr>
		                  <td><%=client.full_name%></td>
		                  <td><%=client.email %></td>
		                  <td><%=client.contact_num %></td>
		                  <td><%=client.sky_id %></td>
		                  <td><%=show_link(admin_client_path(client)) %> 
                          <%=edit_link(edit_admin_client_path(client)) %>
                          <%=delete_link(admin_client_path(client)) %>
		                </tr>
	              	<% end %>
                </tbody>
                <tfoot>
	                <tr>
	                  <th>User Name</th>
	                  <th>Email</th>
	                  <th>Contact No</th>
	                  <th>Skype-Id</th>
	                  <th >Action</th>
	                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->


 <script type="text/javascript">
  $(function () {
    $('#example1').DataTable();
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false
    });
  });
</script>